<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new intro image</title>
</head>
<body>
    <form action="/latest/intro" method="POST" >
        <!-- enctype="multipart/form-data" -->
        <label for="title">Title: </label>
        <input type="text" name="title">
        <br/>
        <label for="description">Description: </label>
        <input type="text" name="description">
        <br/>
        <label for="category">Category: </label>
        <input type="text" name="category">
        <br/>
        <br/>
        <label for="coverimage">Coverimage path: </label>
        <input type="text" name="coverimage">
        <br/>
        <label for="hostimage1">Hostimage1: </label>
        <input type="text" name="hostimage1">
        <br/>
        <label for="hostimage2">Hostimage2: </label>
        <input type="text" name="hostimage2">
        <br/>
        <label for="hostimage3">Hostimage3: </label>
        <input type="text" name="hostimage3">
        <br/>

        <button>create</button>
    </form>
</body>
</html>