<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Success</title>
</head>
<style>
  body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
  }
    h1 {
      color: #66CDAA;
      font-family: serif;
      font-weight: 900;
      font-size: 30px;
      margin-bottom: 10px;
    }
    p {
      color: #24282e;
      font-family: serif;
      font-size:18px;
      margin: 0;
    }
  i {
    color: #66CDAA;
    font-size: 50px;
    line-height: 110px;
    margin-left:-10px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }
</style>
<body>
  <div class="card">
    <div style="border-radius:100px; height:100px; width:100px; background: #e0f5ee; margin:0 auto;">
      <i class="checkmark">🗸</i>
    </div>
      <h1>Login Success!</h1>
      <p>You may now close this window.</p>
    </div>
</body>
</html>